[name="BlockAccordions"] {
  > div {
    display: flex;
    flex-direction: column;
    
    @media screen and (min-width: 992px) {
      gap:24px;
      flex-direction: row;
      > div {
        flex: 1;
      }
    }
  }
}

.dc-accordion {
  margin-bottom: 20px;
  transition: 0.2s;
  counter-increment: step-counter;
  background: $mid-dark-color;
  border-radius: 8px;
  overflow: hidden;
  transition: $transition;
  &:hover {
    summary {
      background: $teal;
      &:before {
        color: $primary-color;
      }
    }
  }
  summary {
    position: relative;
    @extend.h5;
    margin-bottom:0;
    list-style: none;
    cursor: pointer;
    padding: 30px;
    padding-right: 80px;
    transition: $transition;
    border-radius: 8px;
    &:before {
      position: absolute;
      content: "+";
      right: 30px;
      transition: all 0.2s;
      color: $text-color;
      @extend .small-caps;
    }
  }
  .content {
    padding: 30px;
    padding-top: 0;
    opacity: 0;
    transition: all 0.2s;
    margin-top: 24px;
    *:last-child {
      margin-bottom: 0;
    }
  }
  &[open] {
    > summary {
      &:before {
        transform: rotate(45deg);
        color: $primary-color;
      }
    }
    .content {
      opacity: 1;
    }
  }
  &.numbered {
    summary {
      &:before {
        content: "0" counter(step-counter);
        transform: none !important;
      }
    }
  }
}
