[name='LayoutHomeHeader'] {
    > div {
      display:flex;
      flex-direction:column;
      gap:40px;
      @media screen and (min-width:992px) {
        flex-direction:row;
        align-items: center;
        
      }
      .image {
        position:relative;
        margin-bottom:20px;
        overflow:hidden;
        &.image-right {
          order:2;
        }
        @media screen and (min-width:992px) {
          padding:0;
          margin-bottom:0;
          flex:0 1 50%;      
         
        }
      }
      .content {
        position:relative;
        .ctas {
          display:flex;
          a {
            margin:0 10px 10px 0;
          }      
        }
        @media screen and (min-width:992px) {
          flex:0 1 50%;
          padding:40px 0;
        }
      }
    }
  }
