@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
       url('../assets/fonts/SF-Pro-Display-Bold.woff') format('woff');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
       url('../assets/fonts/SF-Pro-Display-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/SF-Pro-Text-Bold.woff2') format('woff2'),
       url('../assets/fonts/SF-Pro-Text-Bold.woff') format('woff');
}

@font-face {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/SF-Pro-Text-Regular.woff2') format('woff2'),
       url('../assets/fonts/SF-Pro-Text-Regular.woff') format('woff');
}
