//  Colours
$primary-color: rgba(215, 223, 35, 1);
$secondary-color: rgba(0, 112, 110, 1);
$tertiary-color: rgba(123, 197, 196, 1);
$dark-color: rgba(0, 48, 69, 1);
$mid-dark-color: rgba(53, 84, 98, 1);
$mid-light-color: #999;
$light-color: #f5f5f5;

// Feedbacks
$success: green;
$warning: yellow;
$danger: firebrick;

// Social Media Colours
$facebook-brand: rgb(59, 89, 152);
$twitter-brand: rgb(85, 172, 238);
$linkedin-brand: rgb(0, 123, 181);
$youtube-brand: rgb(187, 0, 0);

// Text Variables
$heading-font-stack: "SF Pro Display", sans-serif !default;
$text-font-stack: "SF Pro Text", sans-serif !default;
$mono-font-stack: monospace !default;
$text-color: white;

// Misc
$transition-sm: 0.2s ease;
$transition: 0.4s ease;
$transition-lg: 0.8s ease;

$border: 1px solid rgba(black, 0.2);

$bs-lg: 0 8px 30px rgba(0, 0, 0, 0.2);
$bs-md: 0 5px 10px rgba(0, 0, 0, 0.2);
$bs-sm: 0 3px 5px rgba(0, 0, 0, 0.2);
